@{
    Layout = "_NavigationLayout";
}

<h1>Welcome to JMSX 2017!</h1>

<h2>Renewable Energy - Unlimited Power</h2>

<blockquote class="blockquote blockquote-reverse">
    <p class="mb-0">
        "Since the beginning of the industrial revolution, humanity has been using more and more fossil fuel to 
        stimulate productivity and growth. This new source of energy delivered unprecedented affluence to the masses. 
        Fossil fuel appeared to be the ideal source of energy. This idea can be epitomized by the steam locomotive, 
        which used coal as a fuel source. Coal was an abundant resource that could be used in its natural form. 
        However, as the utilization of such energy sources intensified, science discovered their adverse impact on 
        humanity. By releasing what is known today as greenhouse gas, these fuels have led to a phenomenon called 
        global warming. Global warming is a focus of great concern because of its potentially cataclysmic impact on 
        humanity and the environment, including the disruption of ecosystems and inundation of coastal areas due to of 
        rising sea levels.
    </p>
    <br/>
    <p class="mb-0">
        Renewable energy will be the solution to minimize the damage related to global warming. There are many types of 
        renewables that have helped humanity slowly depart from fossil fuels. These are mainly hydro, solar and wind. 
        Although these energy sources have tremendously improved over the first quarter of the century, they are not 
        strictly controlled by us, humans. However, a new source of energy, although quite promising has yet to be 
        tamed. This promising energy is nuclear fusion."
    </p>
    <footer class="blockquote-footer">
        Philippe Bachand, renewable energy expert
        <cite title="Source Title">2021 Summit on Renewable Energy</cite>
    </footer>
</blockquote>

<p>
    We are now in 2022. Fusion, although still a potentially revolutionizing source of energy, has yet to be 
    effectively utilized through science.
</p>

<h2>Market Dynamics</h2>

<p>
    Participants will be able to trade stock of the <strong>Nuclear Fusion Company - FusionCo. (FUSN)</strong> and the 
    <strong>Renewable Power Exchange Traded Funds (RETF)</strong>. The spot price is influenced by announcements of 
    major news that appear periodically on screen. Reactions to news or numbers may lag or may be instantaneous. 
    Participants are expected to trade based on how they interpret the news and their anticipation of the market 
    reaction. 
</p>

<h3>Nuclear Fusion Company - FusionCo. (FUSN)</h3>

<p>
    The Nuclear Fusion Company is a two-year-old startup with just over $500 million of market capitalization and a 
    historical beta of 2.3. It has successfully gone through three rounds of seed funding to develop their magnetized 
    target fusion system that combines magnetic confinement with magnetic pinches in order to compress the plasma to 
    fusion conditions. The system uses a sphere filled with molten lead-lithium that is pumped to form a vortex. 
    A pulse of magnetically-confined plasma fuel is then injected into the vortex. Around the sphere, an array of 
    pistons drives a pressure wave into the centre of the sphere, compressing the plasma to fusion conditions. 
    This process is then repeated, while the heat from the reaction is captured in the liquid metal and used to 
    generate electricity via a steam turbine. (1) This process can be quite dangerous. The next phase for the company 
    would be to launch their final version of the system, which would then be commercialised, assuming the process can 
    be controlled. The Nuclear Fusion Company is affected by the size of the venture capital market as well as the size 
    of the private equity market, as both of these are the sources of funding for their research and development. Since 
    2020, there has been a slowdown in fundraising activities for Nuclear Fusion as we have observed massive capital 
    flows into more traditional capital markets boosting their valuations to all time highs. "Valuations at these 
    levels have never been seen in history, dwarfing the overvalued markets back in 1920s." said famous economist Nolan 
    Brown.    
</p>

<h3>Renewable Power Exchange Traded Funds (RETF)</h3>
    
<p>
    The ETF is composed of many North American companies with a large market capitalization (over $5 billion) in the 
    hydro, solar, and wind sectors. The ETF's historical beta is 0.9. The Renewable Power ETF is involves a multitude 
    of factors. First, it is correlated to the average PPA (purchase price agreement). A PPA, is an agreement between a 
    state and an energy producer for the price of each mega watt produced. The hydro segment of the exchange traded 
    funds is impacted by the number of hydro projects that Canada and the United States are able to build within the 
    year. Investor will see this as a potential increase in future cash flows. The solar segment of the exchange traded 
    funds is mostly impacted by the price of photo voltaic fuel cells, i.e. solar panels. Lastly, the wind sector is 
    mostly impacted by the temperature forecast, as investors are relying on the now, very accurate temperature 
    forecasts. The Renewable Power Exchange Traded Fund has been benefitting from tailwind due to recent market 
    openness to such energy production. Another factor that could possibly impact the ETF is the re-election of POTUS 
    Donald Trump, who is largely seen as an antagonist to the green energy sector. "Global warming is FAKE NEWS; the 
    earth is not getting warmer just look at last winter." - POTUS Twitter Account.	
</p>

<h3>The News</h3>

<p>
    "News" events are released sporadically throughout each quarter. They consist of general news reports, industry and 
    company-specific news. They might have a direct impact on the two different products; traders should use judgment 
    to correctly interpret important news.
</p>

<h3>Margin Requirements and Trading Costs</h3>

<p>
    There is a hard margin limit of 100 contracts, but no trading commissions. Trading contracts should be done in lots 
    of either 1 or 5 during normal trading activities and a spot trade of 25 contracts can be done with the market at 
    the beginning of each quarter. Traders will be penalized if they exceed their limit, therefore we suggest that 
    traders personally tabulate their positions.
</p>