@{
Layout = "_NavigationLayout";
}

<h1>BIENVENUE À LA SIMULATION BOURSIÈRE BRÉBEUF 2019!</h1>

<h2>LA SIMULATION BOURSIÈRE À LA CRIÉE</h2>

<p>
    Aujourd’hui, vous n’aurez pas uniquement besoin de mettre à l’épreuve votre instinct d’investisseur, mais aussi
    votre sens des affaires. Vous ne vous battrez pas seulement contre le marché, mais également contre les autres
    participants autour de vous puisque pour chaque achat ou vente que vous désirez faire, vous devrez trouver un
    participant qui acceptera de vous faire cette transaction. Cette forme de simulation fait donc en sorte que le
    facteur chance est réduit laissant place aux meilleurs gens d’affaires.
</p>

<h3>Classement général: Comment faire pour gagner?</h3>

<p>
    Le fameux 3 000 $ en prix à gagner sera divisé en six lots. Il y aura trois équipes et trois personnes
    individuelles qui auront l’honneur de monter sur scène glorieux à la fin de la journée. Vous aurez tous un relevé
    individuel et un relevé d’équipe à la fin de chaque trimestre (quart d’année qui dure 30 minutes). Votre relevé
    individuel représentera votre gain ou votre perte en capital depuis le début de la simulation. Votre relevé
    d’équipe sera la moyenne des gains et pertes de l’ensemble des membres de votre équipe. Ainsi, une équipe de deux
    participants n’est pas mathématiquement désavantagée par rapport à une équipe de quatre participants.
</p>

<p>
    Alors, c’est très simple. Pour gagner, il faut faire le plus d’argent possible!
</p>

<h3>Fonctionnement général</h3>

<p>
    La simulation d’une année boursière complète durera un total de deux heures divisées en quatre trimestres de 30
    minutes chacun. La simulation durera exactement 252 jours puisque nous avons exclu les jours où le marché est
    fermé. Vous aurez également un trimestre de réchauffement avant le début officiel de la simulation pour vous
    familiariser avec la vie sur un parquet. On veut de l’action aujourd’hui, la volatilité sera donc au rendez-vous.
</p>

<p>
    Vous débuterez tous avec un compte de 0 $ ! La méthode de classement regarde uniquement les gains et les pertes que
    les participants font et non la valeur totale du portefeuille. Vous aurez la possibilité de posséder 100 actions de
    chaque titre. Vous pourrez aussi bien acheter que vendre des actions. Vous avez la possibilité de vendre à
    découvert (short). Ceci veut dire que vous pouvez vendre des actions que vous n’avez pas. Les participants qui
    feront ainsi espèrent, en fait, que l’action va descendre et qu’ils pourront faire de l’argent sur cette baisse.
    Vous pouvez posséder, au maximum, 100 actions de ZOOM et 100 actions de Startech et, au minimum, -100 actions de la
    ZOOM et -100 actions de Startech. Si vous allez à l’encontre de cet intervalle de -100 à 100 actions par
    entreprise, une pénalité monétaire vous sera octroyée. Assurez-vous de bien suivre vos affaires pour être certains
    de ne pas dépasser ces bornes. Le nombre d’actions de chaque entreprise que vous possédez vous sera indiqué dans
    votre relevé à la fin de chaque trimestre.
</p>

<h3>Comment faire des transactions?</h3>

<p>
    Vous aurez deux façons de faire des transactions aujourd’hui. Vous pourrez acheter ou vendre des actions
    directement sur le marché au prix du marché et vous pourrez transiger entre participants. Pour transiger des
    actions de Startech, vous devrez être sur le parquet de Startech et pour transiger des actions de ZOOM, vous devrez
    être sur le parquet de ZOOM.
</p>

<h4>Pre-trading</h4>

<p>
    Quelques minutes avant chaque trimestre, chaque participant pourra acheter ou vendre jusqu’à 25
    actions directement sur le marché sans devoir passer par le biais d’un autre participant.
</p>

<h4>Transactions entre participants</h4>

<p>
    Durant les trimestres, vous pourrez uniquement transiger des actions avec d’autres participants. Vous
    pouvez transiger un maximum de 5 actions par papier de transaction.
</p>

<p>
    Vous devrez donc d’abord trouver un participant qui sur le parquet qui veut faire une transaction
    avec vous. Ensuite, le papier de transaction a besoin d’être rempli par un des deux membres de
    l’accord. Cinq informations importantes ont besoin d’y être inscrites:
</p>

<ol>
    <li>À gauche, le <strong>Trader ID</strong> et les initiales de l’acheteur</li>
    <li>À droite, le <strong>Trader ID</strong> et les initiales du vendeur</li>
    <li>Le <strong>volume</strong> de la transaction, c’est-à-dire le nombre d’actions transigées (1 à 5)</li>
    <li>Le <strong>symbole</strong> du titre que vous transigez. Si vous êtes sur le parquet de Startech, vous
        inscrivez le symbole <strong>STT</strong> et si vous êtes sur le parquet de ZOOM, vous inscrivez
        le symbole <strong>ZOOM</strong>.</li>
    <li>Le <strong>prix</strong> choisi par les deux participants. Vous choisissez ensemble le prix qui peut être
        différent de celui du marché. Si Startech est à 1200$, vous avez le droit de le transiger à 1400$, par
        exemple.</li>
</ol>

<p>
    Vous allez ensuite à l’avant du parquet pour trouver un bénévole qui traitera votre demande. Vous
    devrez lui donner votre papier de transaction et lui montrer votre Trader ID qui est sur votre
    cocarde.
</p>

<h3>Règlements</h3>

<ol>
    <li>
        Outre les transactions avant les trimestres, un maximum de 5 actions est permis par transaction.
        Dans le cas contraire, les bénévoles vont déchirer votre papier.
    </li>
    <li>
        Les deux membres d’une transaction doivent se présenter devant le bénévole pour qu’il accepte la
        transaction. Toutes les informations doivent être remplies et lisibles sur le papier de
        transaction.
    </li>
    <li>
        Lorsque vous donnez votre engagement à un autre participant, vous vous devez de le respecter.
    </li>
    <li>
        Les bénévoles de la Simulation Boursière Brébeuf se réservent le droit d’annuler toutes transactions
        qu’ils considèrent non conformes.
    </li>
    <li>
        Si vous voyez un participant qui ne respecte pas un des règlements, veuillez le rapporter à un bénévole.
    </li>
    <li>
        Vous n’avez pas le droit de faire de la collusion avec une autre équipe. Le système informatique est
        très puissant. Nos bénévoles reçoivent une alerte lorsque des pratiques illégales de ce genre sont
        effectuées. Si vous êtes pris à faire ainsi, les deux équipes seront pénalisées et il sera impossible
        pour vous de gagner.
    </li>
</ol>

<p>
    Nous voulons que cette simulation soit juste et égalitaire et que les gagnants méritent vraiment leurs prix.
    Nous vous demandons votre honnêteté et votre savoir-vivre tout au long de la journée. Le domaine de la
    finance est rempli de gens honnêtes et intègres, mais également de voleurs, de menteurs et d’escrocs.
    Ces derniers peuvent connaitre du succès dans le court terme, mais finissent par se faire prendre tôt ou
    tard. Vous n’avez qu’une seule réputation, tâchez de ne pas la détruire dans une simple simulation
    boursière.
</p>

<h3>Les nouvelles</h3>

<p>
    Durant chaque trimestre, vous verrez les graphiques des deux actions varier. Vous aurez également accès à des
    nouvelles (fictives) sur la situation actuelle du monde qui sortiront tous les cinq jours environ. Elles peuvent
    être en lien avec les deux titres, Startech et ZOOM, avec les indices macroéconomiques comme le PIB du Canada, par
    exemple, avec des enjeux géopolitiques… Ces nouvelles peuvent influencer la variation des deux actions. À vous de
    bien les analyser. Il y aura aussi des nouvelles qui n’affecteront pas du tout le marché. Faites attention de ne
    pas tomber dans le panneau !
</p>

<h3>Jargon du parquet</h3>

<p>
    Pour avoir plus de facilité à faire des transactions entre participants, voici des trucs à adopter lorsque
    vous serez sur le parquet
</p>

<ul>
    <li>
        Affirmez-vous et soyez clairs. Par exemple, si vous voulez acheter ZOOM, n’hésitez pas à crier : « J’achète
        ZOOM! » Un vendeur pourra vous repérer facilement.
    </li>
    <li>
        Vous devez ensuite montrer votre prix à tous pour trouver le participant qui sera intéressé à vous faire la
        transaction. Dites donc : « J’achète ZOOM à 1100$ ».
    </li>
</ul>

<p>
    La vie de parquet n’est pas facile. Vous allez sans doute avoir besoin d’une période d’adaptation. Ne soyez
    pas découragé si vous n’êtes pas dans votre zone de confort au début, c’est tout à fait normal. C’est
    d’ailleurs la raison pour laquelle on vous donne la chance de vous pratiquer pendant 30 minutes lors d’un
    trimestre de pratique qui ne compte pas pour le classement.
</p>