@{
    Layout = "NavPage";
}
@model ReportsViewModel

      <div class="row">

          <legend><h1>View Reports</h1></legend>

</div><!-- /.row -->

@if (@Model.Role == "Administrator" || @Model.Role == "Regulator")
{

    <br/>

    <div class="row">
        <div class="col-lg-6">
            <form role="form" method="post" asp-controller="Reports">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Team ID" aria-label="Team ID" asp-for="TeamId">
                    <span class="input-group-btn">
                        <input type="submit" asp-action="Submit" value="Search" class="btn btn-primary" type="button"/>
                    </span>
                </div> 
            </form>

        </div>          
    </div>
}


    <br />

    <br />

    @Model.RenderReport()
    
    <br/>