/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/************************/

/* Login */
.login-form .form-control {
    height: 30px;
    width: 150px;
}

.login-form button {
    width: 80px;
}

.login-form .btn-log {
    width: 80px;
}

/* Control Panel */

.control-panel .disclaimer {
    color: dimgray;
    margin-top: 3px;
    margin-left: 3px;
}

.control-panel .form-group.row {
    margin-top: 40px;

}

.control-panel .btn {
    width: 140px;
    padding: 8px 3px 8px 3px;
}

.control-panel select {
    border: none;
    background-color: white;
}

.control-panel select:focus {
    outline: none;
}
