@{
    Layout = "_NavPage";
}
@model Stockimulate.ViewModels.Administrator.StandingsViewModel

<legend><h1>Standings</h1></legend>
<div class="row">
    <div class="col-6">
        
        <h2>Traders</h2>

        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Rank</th>
                <th>Name/ID</th>
                <th>P&amp;L</th>
            </tr>
            <thead>
            <tbody>
    
            @Model.TraderStandings
    
            </tbody>
        </table>
    
    </div>

    <div class="col-6">
        
        <h2>Teams</h2>

        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Rank</th>
                <th>Team Name/ID</th>
                <th>Average P&amp;L</th>
            </tr>
            <thead>
            <tbody>
    
            @Model.TeamStandings
        
            </tbody>
        </table>
    
    </div>
</div>    
